body{
font-family: Arial;
background:#f2f2f2;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:40px;
border-radius:10px;
text-align:center;
}

button{
padding:12px 20px;
background:green;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

li{
margin-top:10px;
}